<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>长乐路.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>310DE2A320D01970006B1ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310DE2B720D01972006B1ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>310DE2C220D01972006B1ADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
